body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px;
  font-family: Comic Sans MS, cursive;
  animation: spin 5s linear infinite;
  position: relative;
  min-height: 80vh;
}

a {
  color: #00B7FF;
}

@keyframes spin {
  0% { transform: rotate(0deg)}
  50% { transform: rotate(-5deg)}
}

@keyframes bounce {
  from { transform: translate(-50%, -50%) scale(1)}
  to { transform: translate(-50%, -50%) scale(1.5)}
}

@keyframes colorChange {
  0% { color: red; }
  25% { color: blue; }
  50% { color: green; }
  75% { color: yellow; }
  100% { color: purple; }
}

@keyframes marquee {
  0% { transform: translateX(100%)}
  100% { transform: translateX(-100%)}
}

@keyframes pulse {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}

h1 {
 font-size: 36px;
 color: black;
 text-shadow: 5px 5px 0 #FFFF00, -5px, -5px 0 #FF0000;
 text-align: center;
 animation: colorChange 4s infinite;
}

.dog-container {
  position: relative;
  float: relative;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 200px;
  height: 200px;
  margin: 20px;
  animation: bounce 0.2s infinite alternate;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
  color:white;
  background-color: red;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.INFO-time {
  background-color: black;
  color: white;
  padding: 20px;
  border: 20px dashed lime;
  font-size: 8px;

  /*position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100px;*/
  height:auto;
  margin: 20px;
  max-width: 500px;
  overflow: hidden;
  float: left;
  clear: none;
}

button {
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  padding: 15px;
  font-size: 16px;
  margin:5px;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 2s infinite;
  white-space: nowrap;
}

.buttonCONTAINER {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
}

.hidden-text {
  color: #ff00ff;
  font-size: 1px;
}
